$color-primary: #4bf67fe2;
$color-secondary: #e2fcfa; 
$color-background: #000000;

$fontsize: (
    "normal": 1em,
    "large": 1.4em,
    "header": 2em
);

$fontweight: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

