$color-primary: #4bf67fe2;
$color-secondary: #e2fcf3; 
$color-background: #000000;

$mobile: (
    "iphone": 375px,

);

$fontsize: (
    "text": 1rem,
    "title": 1.4rem,
    "header": 2rem
);

$fontweight: (
    "light": 200,
    "regular": 400,
    "medium": 500,
    "bold": 700
);

