@import './variables';
@import './reset';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;700&display=swap');

hr {
    background-color: $color-primary;
    margin-inline: 1em;
    opacity: .5;
}

body {
    background-color: $color-background;
    color: $color-primary;
    font-family: 'Raleway', sans-serif;

    h2 {
        text-align: center;
        padding-bottom: 1em;
    }
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: transparent;
    transition: background-color 200ms linear;

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-inline: 2em;
        margin: 0;
    }
    
    a {
        text-decoration: none;
        color: rgb(192, 40, 192);
        transition: color 400ms linear;


        &:hover, &:focus {
            color: $color-primary;
            transition: color 150ms linear;

        }
    }
}

.nav-active {
    background-color: $color-background;
    transition: background-color 150ms linear;
    

    a 
    {
        color: white;
        transition: color 400ms linear;
    }
}

.container-fluid {

}

section {
    margin: 5em;
}

//name and quote
.me {
    text-align: center;
    
}

.bio {
}

#textBtn {
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    margin: auto;
    background-color: black;
    color: rgb(192, 40, 192);
}

@keyframes fade {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

.tech-container {

}

.tech {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
    h4 {
        text-align: center;       
        border-right: $color-primary 1px solid;
        border-bottom: $color-primary 1px solid;
        border-radius: 1em;
        width: 10em;
        margin: 10px;
        animation: fade 1s infinite alternate;
        // animation-delay: 1s;
    }
}

.project {

}

.contact {

}


/* CONTACT WIDTH */
.sub {
    margin-inline: auto;
}