@import './variables';
@import './reset';
@import './mixins';
@import url('');

body {
    background-color: $color-background;
    color: $color-primary;
}

.container-fluid {

}
//name q
.me {
    
}

.bio {

}

.tech {

}

.project {

}

.contact {

}


/* CONTACT WIDTH */
.sub {
    width: 40em;
}