body {
  margin: 0;
  padding: 0;
}

li {
  display: inline-flex;
  flex-direction: column;
}

.container1 {
  display: grid;
  grid-template-columns: 10vw 20vw 30vw;
  grid-template-rows: 30vh 30vh 30vh;
  grid-gap: 10vw;
  text-align: center;
  padding-left: 10vw;
}

.overlay-image {
}

.pic {
  height: 35vh;
  width: 20vw;
  border-radius: 50%;
  border: 3px solid black;
  margin-top: 5px;
  /* margin-left: 5vw; */
}

.description {
  grid-column: 2 / span 3;
  grid-row: 1 / 1;
  width: 60vw;
  padding: 0;
  padding-left: 10vw;
  padding-top: 5vh;
  margin-top: 20px;
}

.info {
  overflow: auto;
  grid-column: 1 / 3;
}

#more {
  display: none;
}

.contact {
  padding-right: 10px;
}

.mail {
}

.project {
  grid-column: 1 / 3;
}

.tech {
}

.tech h4 {
  text-align: center;
  padding-top: 10px;
  font-size: medium;
}

#myBtn {
  border: none;
  background-color: white;
  color: blue;
  outline: none;
}

.btn {
}

@media (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
  }

  .container1 {
    display: grid;
    grid-template-columns: 5vw 10vw;
    grid-template-rows: 30vh 30vh 30vh;
    grid-row-gap: 10vw;
    grid-column-gap: 5vh;

    text-align: center;
    padding-bottom: 10vh;
    padding-left: 1em;
  }

  .pic {
    width: 40vw;
    height: 30vh;
    grid-column: 1 / 1;
    margin-left: 22vw;
  }

  .description {
    grid-column: 1 / span 3;
    grid-row: 2 / 2;
    padding: 0;
    margin-left: 13vw;
    padding-top: 1em;
    overflow: auto;
  }

  .info {
    grid-row: 3 / 3;
    grid-column: 3 / 3;
  }

  .tech {
    grid-row: 3 / 3;
    overflow: auto;
    grid-column: 1 / 3;
  }

  .tech h4 {
    font-size: 0.6em;
  }

  .project {
    grid-row: 4 / 4;
  }

  .contact {
    grid-row: 4 / 4;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }
  h4 {
    font-size: 0.8em;
  }

  .btn {
    font-size: 10px;
    padding-left: 0;
    font-weight: 400;
  }

  #myCarousel p {
    overflow: auto;
  }
}
