li {
  display: inline-flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: 200px 400px 400px;
  grid-template-rows: 300px 300px 300px;
  grid-gap: 100px;
  text-align: center;
  margin: auto;
  margin-left: 250px;
}

.pic {
  height: 300px;
  width: 250px;
  border-radius: 50%;
  border: 3px solid black;
  margin-top: 10px;
}

.description {
  grid-column: 2 / 4;
}

.info {
  overflow: auto;
  grid-column: 1 / 3;
}

#more {
  display: none;
}

.contact {
}

.mail {
}

.project {
  grid-column: 1 / 3;
}

.tech {
}

.tech h4 {
  text-align: left;
}

button {
    border: none;
    background-color: white;
    color: blue;
    outline: none;
   
}


@media (max-width: 768px) {
}


